int MyStruct;
structdef STRUCT{
    int y; 
    function : void foo(){
    //    while(i < 5){
            o =1;
      //  }
    }

};

//function : void main(){
//    MyStruct.SomeField;
//    STRUCT a1;
//    a1.y;
//    a1.foo();
//}
